In [1]:
import pandas as pd

# read in training data, edge data, and initialize NUM_DELAYS
data_df = pd.read_csv('./train_data.csv')
edges_df = pd.read_csv('./edges.csv')
NUM_DELAYS = data_df.shape[0]
nodes_with_parents = list(set(edges_df.Target))
nodes_no_parents = list(set(edges_df.Source) - set(edges_df.Target))
nodes_set = set(nodes_with_parents + nodes_no_parents)

To compute the conditional probability tables, we will obesrve each node in a BFS-like fashion, starting with nodes that do not have parents and then working our way through nodes whose parents we have already observed.

In [2]:
# make dictionary of nodes and their parents
node_parents = dict()
nodes_with_parents
for node in nodes_with_parents:
    node_parents[node] = set(edges_df.Source[edges_df.Target == node])
for node in nodes_no_parents:
    node_parents[node] = set()
    
# keep track of a visted set
visited_set = set()

# 0. Nodes Without Parents

In [3]:
print("These are the list of parentless nodes :", nodes_no_parents,". We start by defining a function to reduce redundancy.")

These are the list of parentless nodes : ['MONTH', 'DAY_OF_WEEK', 'SECURITY_DELAY'] . We start by defining a function to reduce redundancy.

In [4]:
def parentless(col):
    '''
    Find probability tables of nodes which do not have parents.
    '''
    df = data_df.groupby(col).count()['QUARTER'].to_frame()
    df.columns = ['num']
    df['probability'] = df.num / NUM_DELAYS
    df.reset_index(level=0, inplace=True)
    df.columns = [col,'num','probability']
    visited_set.add(col)
    nodes_set.remove(col)
    return df

## 1. Month

In [5]:
month_df = parentless('MONTH')
month_df

    MONTH  num  probability
0       1   48     0.062016
1       2   29     0.037468
2       3   43     0.055556
3       4   48     0.062016
4       5   70     0.090439
5       6   68     0.087855
6       7   94     0.121447
7       8   90     0.116279
8       9   90     0.116279
9      10   77     0.099483
10     11   50     0.064599
11     12   67     0.086563

## 2. Day of Week

In [6]:
day_of_week_df = parentless('DAY_OF_WEEK')
day_of_week_df

   DAY_OF_WEEK  num  probability
0            1  126     0.162791
1            2  104     0.134367
2            3  109     0.140827
3            4  134     0.173127
4            5  117     0.151163
5            6   77     0.099483
6            7  107     0.138243

## 3. Security Delay

In [7]:
security_delay_df = parentless('SECURITY_DELAY')
security_delay_df

   SECURITY_DELAY  num  probability
0             0.0  773     0.998708
1             1.0    1     0.001292

# Depth 1: Nodes with Parents

First, we find all the nodes whose values we can compute based on those nodes whose conditional probability tables we have already computed.

In [8]:
def available_nodes():
    '''
    return list of available nodes to visit
    '''
    li = []
    for node in nodes_set:
        if node_parents[node].issubset(visited_set):
            li += [node]
    return li

def compute_CPT(node, parent_df):
    df = data_df.groupby(list(node_parents[node]) + [node]).size().reset_index().rename(columns={0:'num'})
    df = pd.merge(df, parent_df, on=list(node_parents[node]))
    df['probability'] = df.num_x / df.num_y
    df = df.drop(['num_x','num_y'],axis=1)
    visited_set.add(node)
    nodes_set.remove(node)
    return df

In [9]:
available_nodes()

['ScheduledArrivalPHL', 'NAS_DELAY', 'QUARTER']

## 4. Quarter

In [10]:
quarter_df = compute_CPT('QUARTER', month_df)
quarter_df

    MONTH  QUARTER  probability
0       1        1          1.0
1       2        1          1.0
2       3        1          1.0
3       4        2          1.0
4       5        2          1.0
5       6        2          1.0
6       7        3          1.0
7       8        3          1.0
8       9        3          1.0
9      10        4          1.0
10     11        4          1.0
11     12        4          1.0

## 5. ScheduledArrivalPHL

0 represents less than 10, 1 represents less than 20, 2 represents less than 30, 3 represents less than 40, 4 represents less than 50.

In [11]:
node_parents['ScheduledArrivalPHL']

{'DAY_OF_WEEK'}

In [12]:
scheduled_PHL_df = compute_CPT('ScheduledArrivalPHL',day_of_week_df)
scheduled_PHL_df

    DAY_OF_WEEK  ScheduledArrivalPHL  probability
0             1                  0.0     0.666667
1             1                  1.0     0.238095
2             1                  2.0     0.055556
3             1                  4.0     0.039683
4             2                  0.0     0.740385
5             2                  1.0     0.115385
6             2                  2.0     0.076923
7             2                  4.0     0.067308
8             3                  0.0     0.688073
9             3                  1.0     0.229358
10            3                  2.0     0.036697
11            3                  3.0     0.009174
12            3                  4.0     0.036697
13            4                  0.0     0.679104
14            4                  1.0     0.231343
15            4                  2.0     0.044776
16            4                  3.0     0.029851
17            4                  4.0     0.014925
18            5                  0.0     0.632479
19            5                  1.0     0.273504
20            5                  2.0     0.051282
21            5                  3.0     0.008547
22            5                  4.0     0.034188
23            6                  0.0     0.675325
24            6                  1.0     0.272727
25            6                  2.0     0.038961
26            6                  3.0     0.012987
27            7                  0.0     0.654206
28            7                  1.0     0.205607
29            7                  2.0     0.074766
30            7                  4.0     0.065421

## 6. NAS_DELAY

In [13]:
node_parents['NAS_DELAY']

{'MONTH'}

In [14]:
scheduled_PHL_df = compute_CPT('NAS_DELAY',month_df)
scheduled_PHL_df

    MONTH  NAS_DELAY  probability
0       1        0.0     0.562500
1       1        1.0     0.437500
2       2        0.0     0.793103
3       2        1.0     0.206897
4       3        0.0     0.651163
5       3        1.0     0.348837
6       4        0.0     0.750000
7       4        1.0     0.250000
8       5        0.0     0.657143
9       5        1.0     0.342857
10      6        0.0     0.647059
11      6        1.0     0.352941
12      7        0.0     0.446809
13      7        1.0     0.553191
14      8        0.0     0.622222
15      8        1.0     0.377778
16      9        0.0     0.611111
17      9        1.0     0.388889
18     10        0.0     0.701299
19     10        1.0     0.298701
20     11        0.0     0.680000
21     11        1.0     0.320000
22     12        0.0     0.656716
23     12        1.0     0.343284

# Depth 2

## 7. CRS Arrival Time

In [15]:
available_nodes()

['CRS_ARR_TIME']

In [16]:
node_parents['CRS_ARR_TIME']

{'DAY_OF_WEEK', 'MONTH', 'QUARTER'}

# Depth 3